
*.csproj.user
StrandedBig/StrandedBig/.vs/
StrandedBig/StrandedBig/StrandedBig/StrandedBig.csproj.user
StrandedBig/StrandedBig/StrandedBig/obj/
Empty mod/POCMod/.vs/
Empty mod/POCMod/StrandedDeepPOCMod/bin/
Empty mod/POCMod/StrandedDeepPOCMod/obj/
StrandedBig - 0.90.11 backup/
StrandedBig/StrandedBig/StrandedBig/obj/
StrandedDeep2KMod/
StrandedDeep2KMod/.vs/
StrandedDeep2KMod/ConsoleApp1/bin/
StrandedDeep2KMod/ConsoleApp1/obj/
StrandedDeep2KMod/StrandedDeep2KMod/bin/
StrandedDeep2KMod/StrandedDeep2KMod/obj/
StrandedDeep2KMod/StrandedDeep2KMod.Animals/bin/
StrandedDeep2KMod/StrandedDeep2KMod.Animals/obj/
StrandedDeep2KMod/StrandedDeep2KMod.Items/bin/
StrandedDeep2KMod/StrandedDeep2KMod.Items/obj/
StrandedDeep2KMod/StrandedDeep2KMod.Plants/bin/
StrandedDeep2KMod/StrandedDeep2KMod.Plants/obj/
StrandedDeep2KMod/StrandedDeep2KMod.Player/bin/
StrandedDeep2KMod/StrandedDeep2KMod.Player/obj/
StrandedDeep2KMod/StrandedDeep2KMod.Rocks/bin/
StrandedDeep2KMod/StrandedDeep2KMod.Rocks/obj/
StrandedDeep2KMod/StrandedDeep2KMod.Sea/bin/
StrandedDeep2KMod/StrandedDeep2KMod.Sea/obj/
StrandedDeep2KMod/StrandedDeep2KMod.Structures/bin/
StrandedDeep2KMod/StrandedDeep2KMod.Structures/obj/
StrandedDeep2KMod/StrandedDeep2KMod.Wrecks/bin/
StrandedDeep2KMod/StrandedDeep2KMod.Wrecks/obj/
StrandedDeepLodMod/StrandedDeepLODMod/bin/
StrandedDeepLodMod/StrandedDeepLODMod/obj/
StrandedDeepMapMod/.vs/
StrandedDeepMapMod/StrandedDeepMapMod/bin/
StrandedDeepMapMod/StrandedDeepMapMod/obj/
StrandedDeepMusicMod/.vs/
StrandedDeepMusicMod/StrandedDeepMusicMod/bin/
StrandedDeepMusicMod/StrandedDeepMusicMod/obj/
StrandedDeepMusicMod/StrandedDeepMusicMod/audio/
ModReleases/
StrandedDeepLodMod/.vs/
StrandedDeepColdMod/StrandedDeepColdMod/bin/
StrandedDeepColdMod/StrandedDeepColdMod/obj/
StrandedDeepColdMod/TemperatureTestApp/bin/
StrandedDeepColdMod/TemperatureTestApp/obj/
StrandedDeepColdMod/.vs/
StrandedDeepTweaksMod/StrandedDeepTweaksMod/bin/
StrandedDeepTweaksMod/StrandedDeepTweaksMod/obj/
StrandedDeepTweaksMod/.vs/
Stranded Deep BetterGroundTextures/.vs/
Stranded Deep BetterGroundTextures/StrandedDeepBetterGroundTexturesMod/bin/
Stranded Deep BetterGroundTextures/StrandedDeepBetterGroundTexturesMod/obj/
StrandedDeepOneHitBuildMod/.vs/
StrandedDeepOneHitBuildMod/StrandedDeepOneHitBuildMod/bin/
StrandedDeepOneHitBuildMod/StrandedDeepOneHitBuildMod/obj/
StrandedDeepRaftStructuresMod/StrandedDeepRaftStructuresMod/bin/
StrandedDeepRaftStructuresMod/StrandedDeepRaftStructuresMod/obj/
StrandedDeepRaftStructuresMod/.vs/
StrandedDeepRaftStructuresMod/.vs/
Stranded Deep/
Stranded Deep Wide/
StrandedDeepAlternativeEndgameMod/.vs/
StrandedDeepMovingFoliageMod/.vs/
StrandedDeepMovingFoliageMod/StrandedDeepMovingFoliageMod/bin/
StrandedDeepMovingFoliageMod/StrandedDeepMovingFoliageMod/obj/
StrandedDeepRealStormsMod/StrandedDeepRealStormsMod/bin/
StrandedDeepRealStormsMod/StrandedDeepRealStormsMod/obj/
StrandedDeepWindTreesMod/.vs/
StrandedDeepWindTreesMod/StrandedDeepWindTreesMod/bin/
StrandedDeepWindTreesMod/StrandedDeepWindTreesMod/obj/
StrandedDeepRealStormsMod/.vs/
StrandedDeepRealStormsMod/.vs/
StrandedDeepRealStormsMod/.vs/
StrandedDeepAlternativeEndgameMod/StrandedDeepAlternativeEndgameMod/obj/
StrandedDeepAlternativeEndgameMod/StrandedDeepAlternativeEndgameMod/bin/
StrandedDeepMovingFoliageMod/StrandedDeepMovingFoliageMod/StrandedDeepMovingFoliageMod.user
Stranded Deep 1.0.16.22/
Stranded Deep Wide 1.0.16.22/
StrandedDeepAnimatedFoliageMod/.vs/
StrandedDeepAnimatedFoliageMod/StrandedDeepAnimatedFoliageMod/bin/
StrandedDeepAnimatedFoliageMod/StrandedDeepAnimatedFoliageMod/obj/
StrandedDeepWhaleSharkMod/.vs/
StrandedDeepWhaleSharkMod/StrandedDeepWhaleSharkMod/bin/
StrandedDeepWhaleSharkMod/StrandedDeepWhaleSharkMod/obj/
Stranded Deep BetterGroundTextures/Unity Better ground textures mod/.vs/
StrandedWide/StrandedWide/StrandedWideMod_Harmony/obj/
StrandedWide/StrandedWide/StrandedWideMod_Harmony/bin/
StrandedDeepWetAndColdMod/TemperatureTestApp/bin/
StrandedDeepWetAndColdMod/StrandedDeepColdMod/obj/
StrandedDeepWetAndColdMod/StrandedDeepColdMod/bin/
StrandedWide/StrandedWide/Backups/
StrandedWide/StrandedWide/.vs/
StrandedDeepWetAndColdMod/TemperatureTestApp/obj/
StrandedDeepWetAndColdMod/TemperatureTestApp/bin/
StrandedDeepTweaksMod/StrandedDeepTweaksMod/obj/
StrandedDeepTweaksMod/StrandedDeepTweaksMod/bin/
StrandedDeepWetAndColdMod/.vs/
StrandedDeepTweaksMod/.vs/
StrandedDeepSharksMod/StrandedDeepSharksMod/obj/
StrandedDeepSharksMod/StrandedDeepSharksMod/bin/
StrandedDeepMusicMod/StrandedDeepMusicMod/obj/
StrandedDeepMusicMod/StrandedDeepMusicMod/bin/
StrandedDeepMusicMod/.vs/StrandedDeepJawsMusicMod/v15/.suo
StrandedDeepMapMod/StrandedDeepMapMod/bin/
StrandedDeepMapMod/StrandedDeepMapMod/obj/
StrandedDeep2KMod/Unity SD 2k/
StrandedDeepExplorationMod/Unity Exploration Mod project/
Stranded Deep BetterGroundTextures/Unity Better ground textures mod/
StrandedDeepExplorationMod/.vs/
StrandedDeepExplorationMod/StrandedDeepExplorationMod/bin/
StrandedDeepExplorationMod/StrandedDeepExplorationMod/obj/
StrandedDeepSharksMod/.vs/
Stranded Deep BetterGroundTextures/StrandedDeepBetterGroundTexturesMod/assets/strandeddeepbettergroundtextures
StrandedDeepAlternativeEndgameMod/StrandedDeepAlternativeEndgameMod/assets/videos/
StrandedDeepExplorationMod/StrandedDeepExplorationMod/assets/strandeddeepexplorationmod
StrandedDeepAnimatedFoliageMod/StrandedDeepAnimatedFoliageMod/assets/Textures/BRANCH_MainTex_almondtree.xcf
*.xcf
StrandedDeepAllInOneTool/.vs/
StrandedDeepAllInOneTool/PrefabsImporter/bin/
StrandedDeepAllInOneTool/PrefabsImporter/obj/
StrandedDeepAllInOneTool/StrandedDeepMapper/bin/
StrandedDeepAllInOneTool/StrandedDeepMapper/obj/
StrandedDeepJusRobsUnnecessaryMod/StrandedDeepJusRobsMod/bin/
StrandedDeepJusRobsUnnecessaryMod/StrandedDeepJusRobsMod/obj/
StrandedDeepRpgMod/StrandedDeepRpgMod/bin/
StrandedDeepRpgMod/StrandedDeepRpgMod/obj/
StrandedDeepRpgMod/.vs/
StrandedDeepJusRobsUnnecessaryMod/.vs/
